Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

Use generic get_object
  src/Preferences Dialog/main.ts
Owners: @sonnyp

Use generic get_object
  src/Save File/main.ts
Owners: @sonnyp

Use generic get_object
  src/Screencast/main.ts
Owners: @sonnyp

Use generic get_object
  src/Screenshot/main.ts
Owners: @sonnyp

Use generic get_object
  src/Search/main.ts
Owners: @sonnyp

Use generic get_object
  src/Select Folder/main.ts
Owners: @sonnyp

Use generic get_object
  src/Tab View/main.ts
Owners: @sonnyp

Use generic get_object
  src/Text View/main.ts
Owners: @sonnyp

Use generic get_object
  src/Toasts/main.ts
Owners: @sonnyp

Use generic get_object
  src/Wallpaper/main.ts
Owners: @sonnyp

Use 'my_custom_class" for the programmaticaly set style (#214)
  src/Styling with CSS/code.rs
  src/Styling with CSS/main.js
  src/Styling with CSS/main.py
  src/Styling with CSS/main.vala
Owners: @Hofer-Julian, @sonnyp, @theCapypara, @lw64, @Diego-Ivan

Port 'Database' demo to Python
  src/Database/main.py
Owners: @theCapypara

Remove unused stack
  src/List View/main.blp
Owners: @sonnyp

Remove ;
  src/List View/main.blp
Owners: @sonnyp

List View: Remove unused Stack and StackPage (#219)
  src/List View/main.blp
Owners: @sonnyp

Database: Remove unused search by id field
  src/Database/main.blp
Owners: @sonnyp

Port 'Database' demo to Python (#218)
  src/Database/main.py
Owners: @theCapypara

Fix Column View Python impl: sorting in year column
  src/Column View/main.py
Owners: @theCapypara

Fix Column View Python impl: sorting in year column (#220)
  src/Column View/main.py
Owners: @theCapypara

Use CSS variables instead of GTK-specific syntax
  src/Animation/main.css
  src/Box/main.css
  src/CSS Gradients/main.css
  src/Drop Zone/main.css
  src/Level Bars/main.css
  src/Map/main.css
  src/Network Monitor/main.css
  src/Styling with CSS/main.css
Owners: @sonnyp

Format
  src/CSS Gradients/main.css
Owners: @sonnyp

Fixes #222 - left click on a button leaves "Left" button with "suggested-action" style
  src/Event Controllers/main.js
  src/Event Controllers/main.py
  src/Event Controllers/main.vala
Owners: @sonnyp, @theCapypara, @lw64, @Diego-Ivan

Update libsoup API URL
  src/HTTP Request/main.blp
  src/WebSocket Client/main.blp
Owners: @sonnyp

add hig
  src/Shortcuts Window/main.blp
  src/Shortcuts Window/tsconfig.json
Owners: @sonnyp

f
  src/Shortcuts Window/tsconfig.json
Owners: @sonnyp

replace ctrl with primary
  src/Shortcuts Window/code.rs
  src/Shortcuts Window/main.blp
Owners: @Hofer-Julian, @sonnyp

feat: add tsconfig
  .gitignore
  ambient/workbench.d.ts
  tsconfig.json
Owners: @sonnyp

chore: add README.typescript.md
  README.typescript.md
Owners: @sonnyp

port: Dialog
  src/Dialog/main.ts
Owners: @sonnyp

port: Drop Zone
  src/Drop Zone/main.ts
Owners: @sonnyp

port: Overlay
  src/Overlay/main.ts
Owners: @sonnyp

port: Search
  src/Search/main.ts
Owners: @sonnyp

port: File Monitor
  src/File Monitor/main.ts
Owners: @sonnyp

port: Spell Checker
  src/Spell Checker/main.ts
Owners: @sonnyp

port: Toggle Button
  src/Toggle Button/main.ts
Owners: @sonnyp

port: Radio Buttons
  src/Radio Buttons/main.ts
Owners: @sonnyp

port: Save File
  src/Save File/main.ts
Owners: @sonnyp

port: Preferences Dialog
  src/Preferences Dialog/main.ts
Owners: @sonnyp

port: Breakpoints
  src/Breakpoints/main.ts
Owners: @sonnyp

port: Color Picker
  src/Color Picker/main.ts
Owners: @sonnyp

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara
