Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

style-guide: Include style guidelines for Vala. (#108)
  STYLEGUIDE.md
Owners: @sonnyp

source-view: Improvements to Vala demo (#106)
  demos/Source View/main.vala
Owners: @lw64, @Diego-Ivan

Fix placeholder-text strings (#105)
  demos/Email/main.blp
  demos/Launcher/main.blp
  demos/Level Bars/main.blp
  demos/List Model/main.blp
  demos/Text Fields/main.blp
  demos/Toolbar View/main.blp
Owners: @sonnyp

Port View Switcher to python
  demos/View Switcher/main.py
Owners: @theCapypara

Use constructors for Button and ActionRow instead of multiple setters
  demos/View Switcher/main.py
Owners: @theCapypara

Rotate via cairo_rotate
  demos/Drawing Area/main.py
Owners: @theCapypara

Update JS and Rust implementation accordingly
  demos/Drawing Area/code.rs
  demos/Drawing Area/main.js
Owners: @Hofer-Julian, @sonnyp

Fix format
  demos/Drawing Area/main.py
Owners: @theCapypara

Simplify Rust demo "Drawing Area"
  demos/Drawing Area/code.rs
Owners: @Hofer-Julian

message-dialogs: Apply changes from Dialogs Vala demo
  demos/Message Dialogs/main.vala
Owners: @lw64, @Diego-Ivan

demos: port 'Checkboxes' demo to Vala
  demos/Checkboxes/main.vala
Owners: @lw64, @Diego-Ivan

demos: port 'Clamp' demo to Vala
  demos/Clamp/main.vala
Owners: @lw64, @Diego-Ivan

demos: port Action Bar to vala
  demos/Action Bar/main.vala
Owners: @lw64, @Diego-Ivan

demos: port 'Checkboxes' demo to Vala (#112)
  demos/Checkboxes/main.vala
Owners: @lw64, @Diego-Ivan

demos: port Action Bar to vala (#111)
  demos/Action Bar/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Camera' demo to Python (#91)
  demos/Camera/main.py
Owners: @theCapypara

demos: port 'Emoji Chooser' demo to Vala
  demos/Emoji Chooser/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Location' demo to Python (#89)
  demos/Location/main.js
  demos/Location/main.py
Owners: @sonnyp, @theCapypara

rustfmt
  demos/Drawing Area/code.rs
Owners: @Hofer-Julian

Port 'List Model' demo to Python (#97)
  demos/List Model/main.py
Owners: @theCapypara

Port 'Drop Down' demo to Python (#98)
  demos/Drop Down/main.py
Owners: @theCapypara

Port 'Drawing Area' demo to Python (#92)
  demos/Drawing Area/code.rs
  demos/Drawing Area/main.js
  demos/Drawing Area/main.py
Owners: @Hofer-Julian, @sonnyp, @theCapypara

Port 'Session Monitor and Inhibit' demo to Python (#100)
  demos/Session Monitor and Inhibit/main.py
Owners: @theCapypara

Port View Switcher to python (#109)
  demos/View Switcher/main.py
Owners: @theCapypara

drop-zone: Fixes and improvements to Vala code (#99)
  demos/Drop Zone/main.vala
Owners: @lw64, @Diego-Ivan

Use Workbench beta for CI
  Makefile
Owners: @sonnyp

Port 'Banner' to Vala
  demos/Banner/main.vala
Owners: @lw64, @Diego-Ivan

f
  demos/Action Bar/main.vala
  demos/Checkboxes/main.vala
  demos/View Switcher/main.py
Owners: @lw64, @Diego-Ivan, @theCapypara

Use Workbench beta for CI (#116)
  Makefile
  demos/Action Bar/main.vala
  demos/Checkboxes/main.vala
  demos/View Switcher/main.py
Owners: @sonnyp, @lw64, @Diego-Ivan, @theCapypara

demos: port 'Clamp' demo to Vala (#113)
  demos/Clamp/main.vala
Owners: @lw64, @Diego-Ivan

f
  demos/Clamp/main.vala
Owners: @lw64, @Diego-Ivan

dialogs: Fixes and Improvements to Vala demo (#107)
  demos/Clamp/main.vala
  demos/Message Dialogs/main.vala
Owners: @lw64, @Diego-Ivan

f
  demos/Banner/main.vala
Owners: @lw64, @Diego-Ivan

Port "Banner" to Vala (#115)
  demos/Banner/main.vala
Owners: @lw64, @Diego-Ivan

demos: port 'Emoji Chooser' demo to Vala (#114)
  demos/Emoji Chooser/main.vala
Owners: @lw64, @Diego-Ivan

Reformat Python demos & fix lints
  demos/Avatar/main.py
  demos/Breakpoints/main.py
  demos/CSS Gradients/main.py
  demos/Camera/main.py
  demos/Color Dialog/main.py
  demos/Color Picker/main.py
  demos/Column View/main.py
  demos/Drag and Drop/main.py
  demos/Drop Down/main.py
  demos/Drop Zone/main.py
  demos/Email/main.py
  demos/Event Controllers/main.py
  demos/Font Dialog/main.py
  demos/Image/main.py
  demos/Label/main.py
  demos/Location/main.py
  demos/Map/main.py
  demos/Memory Monitor/main.py
  demos/Menu/main.py
  demos/Message Dialogs/main.py
  demos/Network Monitor/main.py
  demos/Open File/main.py
  demos/Picture/main.py
  demos/Popovers/main.py
  demos/Save File/main.py
  demos/Scale/main.py
  demos/Screencast/main.py
  demos/Select Folder/main.py
  demos/Spin Button/main.py
  demos/Stack/main.py
  demos/Switch/main.py
  demos/Toolbar View/main.py
  demos/Tooltip/main.py
  demos/Wallpaper/main.py
  demos/Web View/main.py
  demos/WebSocket Client/main.py
Owners: @theCapypara

Update Makefile
  Makefile
Owners: @sonnyp

Reformat Python demos & fix lints
  demos/Drop Down/main.py
  demos/Drop Zone/main.py
  demos/Launcher/main.py
  demos/Location/main.py
  demos/Network Monitor/main.py
  demos/Picture/main.py
Owners: @theCapypara

comment ruff stuff for now
  Makefile
Owners: @sonnyp

Update Python demos to pass ruff (#117)
  Makefile
  demos/Avatar/main.py
  demos/Breakpoints/main.py
  demos/CSS Gradients/main.py
  demos/Camera/main.py
  demos/Color Dialog/main.py
  demos/Color Picker/main.py
  demos/Column View/main.py
  demos/Drag and Drop/main.py
  demos/Drop Down/main.py
  demos/Drop Zone/main.py
  demos/Email/main.py
  demos/Event Controllers/main.py
  demos/Font Dialog/main.py
  demos/Image/main.py
  demos/Label/main.py
  demos/Launcher/main.py
  demos/Location/main.py
  demos/Map/main.py
  demos/Memory Monitor/main.py
  demos/Menu/main.py
  demos/Message Dialogs/main.py
  demos/Network Monitor/main.py
  demos/Open File/main.py
  demos/Picture/main.py
  demos/Popovers/main.py
  demos/Save File/main.py
  demos/Scale/main.py
  demos/Screencast/main.py
  demos/Select Folder/main.py
  demos/Spin Button/main.py
  demos/Stack/main.py
  demos/Switch/main.py
  demos/Toolbar View/main.py
  demos/Tooltip/main.py
  demos/Wallpaper/main.py
  demos/Web View/main.py
  demos/WebSocket Client/main.py
Owners: @sonnyp, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara
