Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara

[Rust] Ported the listview demo
  src/List View/code.rs
Owners: @Hofer-Julian

Improve the comment on Cell usage
  src/List View/code.rs
Owners: @Hofer-Julian

[Rust] TextFields demo port
  src/Text Fields/code.rs
Owners: @Hofer-Julian

Updated some comments
  src/Text Fields/code.rs
Owners: @Hofer-Julian

Update src/Audio/code.rs
  src/Audio/code.rs
Owners: @Hofer-Julian

bring gio to the scope
  src/Audio/code.rs
Owners: @Hofer-Julian

Bring gio to the scope
  src/Frame/code.rs
Owners: @Hofer-Julian

bring gio to the scope
  src/Column View/code.rs
Owners: @Hofer-Julian

small comment change
  src/List View/code.rs
Owners: @Hofer-Julian

Small comments changes
  src/Text Fields/code.rs
Owners: @Hofer-Julian

[Rust] Audio demo (#193)
  src/Audio/code.rs
Owners: @Hofer-Julian

[Rust] Frame demo ported (#195)
  src/Frame/code.rs
Owners: @Hofer-Julian

Update src/List View/code.rs
  src/List View/code.rs
Owners: @Hofer-Julian

Update src/List View/code.rs
  src/List View/code.rs
Owners: @Hofer-Julian

Update src/List View/code.rs
  src/List View/code.rs
Owners: @Hofer-Julian

Update src/List View/code.rs
  src/List View/code.rs
Owners: @Hofer-Julian

Update src/List View/code.rs
  src/List View/code.rs
Owners: @Hofer-Julian

Update src/List View/code.rs
  src/List View/code.rs
Owners: @Hofer-Julian

Apply suggestions from code review
  src/List View/code.rs
Owners: @Hofer-Julian

Strings_model => string_model
  src/List View/code.rs
Owners: @Hofer-Julian

[Rust] Port the ListView demo (#198)
  src/List View/code.rs
Owners: @Hofer-Julian

Reformat the code slightly
  src/Clamp/code.rs
Owners: @Hofer-Julian

Remove empty line
  src/Clamp/code.rs
Owners: @Hofer-Julian

[Rust] Clamp example (#194)
  src/Clamp/code.rs
Owners: @Hofer-Julian

[draft]library: Add GOM demo -Initial implementation, has bugs
  src/Gom/main.blp
  src/Gom/main.js
  src/Gom/main.json
Owners: @sonnyp

fix: demo description and category
  src/Gom/main.json
Owners: @sonnyp

minor improvements and additions Add text based filtering to showcase vs ID filtering Design is still a WIP
  src/Gom/main.blp
  src/Gom/main.js
Owners: @sonnyp

changes and improvements Use SearchEntry for text search and SpinButton for ID search and subsequent logic changes Cleaned up logic when no results found Re-organized the UI, cleaner implementation
  src/Gom/main.blp
  src/Gom/main.js
Owners: @sonnyp

minor fix: remove comma
  src/Gom/main.js
Owners: @sonnyp

Minor improvements
  src/Column View/code.rs
  src/Column View/main.js
Owners: @Hofer-Julian, @sonnyp

Revert format change
  src/Column View/main.js
Owners: @sonnyp

[Rust] Column View demo ported (#196)
  src/Column View/code.rs
Owners: @Hofer-Julian

Small changes
  src/Text Fields/code.rs
Owners: @Hofer-Julian

[Rust] Ported the TextFields demo (#199)
  src/Text Fields/code.rs
Owners: @Hofer-Julian

Use `glib` directly
  src/Level Bars/code.rs
Owners: @Hofer-Julian

[Rust] Ported Level Bars demo (#197)
  src/Level Bars/code.rs
Owners: @Hofer-Julian

feat: add tsconfig
  .gitignore
  ambient/workbench.d.ts
  tsconfig.json
Owners: @sonnyp

port: Accessibility
  src/Accessibility/main.ts
Owners: @sonnyp

port: Welcome
  src/Welcome/main.ts
Owners: @sonnyp

chore: add README.typescript.md
  README.typescript.md
Owners: @sonnyp
