Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara

Add icons to demos
  .gitignore
  Makefile
  src/Platform Tools/main.blp
  src/Web View/icons/arrow1-left-symbolic.svg
  src/Web View/icons/arrow1-right-symbolic.svg
  src/Welcome/icons/bookmark-outline-symbolic.svg
  src/Welcome/icons/floppy-symbolic.svg
  src/Welcome/icons/library-symbolic.svg
  src/Welcome/icons/play-large-symbolic.svg
  src/Welcome/icons/update-symbolic.svg
  src/Welcome/main.blp
Owners: @sonnyp

Add icons to Welcome and Web View (#145)
  .gitignore
  Makefile
  src/Platform Tools/main.blp
  src/Web View/icons/arrow1-left-symbolic.svg
  src/Web View/icons/arrow1-right-symbolic.svg
  src/Welcome/icons/bookmark-outline-symbolic.svg
  src/Welcome/icons/floppy-symbolic.svg
  src/Welcome/icons/library-symbolic.svg
  src/Welcome/icons/play-large-symbolic.svg
  src/Welcome/icons/update-symbolic.svg
  src/Welcome/main.blp
Owners: @sonnyp

Add Using Icons entry
  src/Using Icons/icons/cafe-symbolic.svg
  src/Using Icons/main.blp
  src/Using Icons/main.css
  src/Using Icons/main.json
  src/Welcome/main.json
Owners: @sonnyp

demos: port 'Dialog' demo to Vala
  src/Dialog/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Dialog' demo to Python
  src/Dialog/main.py
Owners: @theCapypara

demos: Fix Adw, Gtk imports Minor fix
  src/Dialog/main.py
Owners: @theCapypara

demos: Port 'Actions' demos to Vala Add Vala code for Actions demo
  src/Actions/main.vala
Owners: @lw64, @Diego-Ivan

demos: Remove unnecessary import Minor fix
  src/Actions/main.vala
Owners: @lw64, @Diego-Ivan

demos: Changes to message logging message format change as suggested by @lw64 Use same action name for 'scale_action' message parameter
  src/Actions/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Dialog' demo to Vala (#151)
  src/Dialog/main.vala
Owners: @lw64, @Diego-Ivan

demos: Fix getter methods and Formatting Minor changes suggested by @Diego-Ivan
  src/Actions/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Drawing Area' demo to Vala draft commit, needs suggestion Cannot use the length function to find out the length of the multidimensional array in Vala
  src/Drawing Area/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Actions' demo to Vala (#153)
  src/Actions/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'CSS Gradients' demo to Vala Intitial implementation Gtk Style Context was deprecated (since 4.10) needs alternative Javascript and Python also use the same
  src/CSS Gradients/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Use properties instead of setter Remove setter function for language and style_scheme
  src/CSS Gradients/main.vala
Owners: @lw64, @Diego-Ivan

drawingarea: Minor changes Removed comment Add "to_radians" function as suggested by @lw64
  src/Drawing Area/main.vala
Owners: @lw64, @Diego-Ivan

Also use Workbench nightly for CI
  Makefile
Owners: @sonnyp

Port 'Dialog' demo to Python (#152)
  src/Dialog/main.py
Owners: @theCapypara

demos: Port 'Frames' demo to Vala Add Vala code for Frames
  src/Frame/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port "Label" demo to Vala Add Vala code for Label
  src/Label/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Menu Button' demo to Vala Add Vala code for Menu Button
  src/Menu Button/main.vala
Owners: @lw64, @Diego-Ivan

Remove extra line Minor change
  src/Menu Button/main.vala
Owners: @lw64, @Diego-Ivan

Indentation fixes long label was not aligned properly
  src/Label/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Remove blank line
  src/Label/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Font Dialog' to Vala Add Vala code for Font Dialog
  src/Font Dialog/main.vala
Owners: @lw64, @Diego-Ivan

Fix Glib unhandled error warning Enclose async on_clicked() within try catch
  src/Font Dialog/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Network Monitor' demo to Vala Add Vala code for Network Monitor switch case to correctly update the value of level bar on network change
  src/Network Monitor/main.vala
Owners: @lw64, @Diego-Ivan

fix implicit begin() issue change button connect call
  src/Font Dialog/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Popovers' demo to Vala Add Vala code for Popovers Code uses Js Implementation Could shortened by removing function
  src/Popovers/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Power Profile Monitor' demo to Vala Add Vala code for Power Profile Monitor
  src/Power Profile Monitor/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Spell Checker' demo to Vala Add Vala code for Spell Checker
  src/Spell Checker/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Toggle Button' demo to Vala Add Vala code for Toggle Button
  src/Toggle Button/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Explicit Adw.Toast declaration
  src/Power Profile Monitor/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Tooltip' demo to Vala Add Vala code for Tooltip
  src/Tooltip/main.vala
Owners: @lw64, @Diego-Ivan

minor changes: Fix type declaration Use var for TextBuffer and File declarations
  src/Frame/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Change declaration type for Font Dialog Replace Gtk.FontDialog with var
  src/Font Dialog/main.vala
Owners: @lw64, @Diego-Ivan

fixes: Resolve unsafe conversion, ambiguous var Explicit casting of justification Use string instead of "style_class" since the type was not clear
  src/Label/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Change type declaration PowerProfileMonitor and Adw.Toast type is clear hence var used
  src/Power Profile Monitor/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Fix type declaration Spelling.Checker and Spelling.TextBufferAdapter declaration type is clear, hence use var
  src/Spell Checker/main.vala
Owners: @lw64, @Diego-Ivan

minor fix: Fix type declaration custom_tooltip, label and icon have clear type declaration, use var
  src/Tooltip/main.vala
Owners: @lw64, @Diego-Ivan
