Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

Minor Fixes Use property for TextBuffer Add default case to switch (Fixes compiler warnings) Use file.replace_contents_async instead of replace_contents
  src/File Monitor/main.vala
Owners: @lw64, @Diego-Ivan

remove unneccessary package declarations
  src/Map/main.vala
Owners: @lw64, @Diego-Ivan

demos: Port 'Scrolled Window' demo to Vala Add initial Vala code for Scrolled Window
  src/Scrolled Window/main.vala
Owners: @lw64, @Diego-Ivan

draft: Port 'Snapshot' demo to Vala Add initial Vala code for Snapshot Suggestion needed for the use of 'this' keyword
  src/Snapshot/main.vala
Owners: @lw64, @Diego-Ivan

Fix use of 'this' keyword Usage of keyword according to Javascript and Python implementations
  src/Snapshot/main.vala
Owners: @lw64, @Diego-Ivan

Replace handler moved to separate method
  src/File Monitor/main.vala
Owners: @lw64, @Diego-Ivan

draft: Port 'Screencast' demo to Vala The current code does not work, Gstreamer Pipeline is causing issues.
  src/Screencast/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Session Monitor and Inhibit' to Vala (#176)
  src/Session Monitor and Inhibit/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Map' demo to Vala (#174)
  src/Map/main.vala
Owners: @lw64, @Diego-Ivan

Port 'HTTP Server' demo to Vala (#173)
  src/HTTP Server/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Menu' demo to Vala (#172)
  src/Menu/main.vala
Owners: @lw64, @Diego-Ivan

Minor change Use key iteration against foreach method of Hashtable
  src/Scrolled Window/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Scrolled Window' demo to Vala (#178)
  src/Scrolled Window/main.vala
Owners: @lw64, @Diego-Ivan

Minor changes: Explicit variable declaration Changed the way node_id is accessed with a more proper way to get elements from the touple Skip Gst.state enum
  src/Screencast/main.vala
Owners: @lw64, @Diego-Ivan

Improvements Replace enclosing whole method in try catch Throw an error from start_screencast_session() Declare portal and parent as global for easier access
  src/Screencast/main.vala
Owners: @lw64, @Diego-Ivan

Improve Event Controllers
  src/Event Controllers/main.blp
  src/Event Controllers/main.js
  src/Event Controllers/main.py
  src/Event Controllers/main.vala
Owners: @sonnyp, @theCapypara, @lw64, @Diego-Ivan

Use Blueprint to create the GtkSourceView
  src/Source View/main.blp
  src/Source View/main.js
  src/Source View/main.py
  src/Source View/main.vala
Owners: @sonnyp, @theCapypara, @lw64, @Diego-Ivan

Use Blueprint to create the GtkSourceView (#182)
  src/Source View/main.blp
  src/Source View/main.js
  src/Source View/main.py
  src/Source View/main.vala
Owners: @sonnyp, @theCapypara, @lw64, @Diego-Ivan

minor change: Use single line lambdas
  src/File Monitor/main.vala
Owners: @lw64, @Diego-Ivan

Port 'File Monitor' demo to Vala (#175)
  src/File Monitor/main.vala
Owners: @lw64, @Diego-Ivan

Fix CI by using Workbench devel
  .gitignore
  Makefile
  src/Column View/main.js
  src/Drop Down/main.js
  src/Wallpaper/main.js
Owners: @sonnyp

f
  Makefile
Owners: @sonnyp

f
  .gitignore
  Makefile
Owners: @sonnyp

f
  .github/workflows/CI.yaml
Owners: @sonnyp

Fix CI by using Workbench devel (#189)
  .github/workflows/CI.yaml
  .gitignore
  Makefile
  src/Column View/main.js
  src/Drop Down/main.js
  src/Wallpaper/main.js
Owners: @sonnyp

Specify Gtk version 4
  src/About Dialog/main.js
  src/Accessibility/main.js
  src/Audio/main.js
  src/Avatar/main.js
  src/Box/main.js
  src/Boxed Lists/main.js
  src/CSS Gradients/main.js
  src/Carousel/main.js
  src/Color Dialog/main.js
  src/Column View/main.js
  src/Custom Widget/main.js
  src/Drag and Drop/main.js
  src/Drop Down/main.js
  src/Drop Zone/main.js
  src/Event Controllers/main.js
  src/File Monitor/main.js
  src/Flow Box/main.js
  src/Font Dialog/main.js
  src/Frame/main.js
  src/Grid View/main.js
  src/Launcher/main.js
  src/List Model/main.js
  src/List View/main.js
  src/Map/main.js
  src/Message Dialogs/main.js
  src/Open File/main.js
  src/Overlay Split View/main.js
  src/Save File/main.js
  src/Scale/main.js
  src/Scrolled Window/main.js
  src/Select Folder/main.js
  src/Snapshot/main.js
  src/Spin Button/main.js
  src/Stack/main.js
  src/Text Fields/main.js
  src/Tooltip/main.js
  src/Video/main.js
  src/View Switcher/main.js
  src/Welcome/main.js
Owners: @sonnyp

Specify Gdk version 4
  src/Accessibility/main.js
  src/Account/main.js
  src/Avatar/main.js
  src/CSS Gradients/main.js
  src/Color Dialog/main.js
  src/Color Picker/main.js
  src/Context Menu/main.js
  src/Drag and Drop/main.js
  src/Drop Zone/main.js
  src/Event Controllers/main.js
  src/HTTP Image/main.js
  src/Snapshot/main.js
  src/Text View/main.js
Owners: @sonnyp

Python: Update ColumnView to use Expressions
  src/Column View/main.py
Owners: @theCapypara

Add link to PyGObject docs
  CONTRIBUTING.md
Owners: @sonnyp

port Text Fields to Rust
  src/Text Fields/code.rs
Owners: @Hofer-Julian

Port the Level Bars example to Rust
  src/Level Bars/code.rs
Owners: @Hofer-Julian

Audio demo working
  src/Audio/code.rs
Owners: @Hofer-Julian

Fixed Level Bars code.rs
  src/Level Bars/code.rs
Owners: @Hofer-Julian

Fix formatting in text fields/code.rs
  src/Text Fields/code.rs
Owners: @Hofer-Julian

Port List view to rust
  src/List View/code.rs
Owners: @Hofer-Julian

Audio ported to rust
  src/Audio/code.rs
Owners: @Hofer-Julian

Add Rust Clamp example
  src/Clamp/code.rs
Owners: @Hofer-Julian

[Rust] Port the Frame example
  src/Frame/code.rs
Owners: @Hofer-Julian

[Rust] Column View demo ported
  src/Column View/code.rs
Owners: @Hofer-Julian

[Rust] Ported Level Bars demo
  src/Level Bars/code.rs
Owners: @Hofer-Julian

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara
