Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara

Add 'Snapshot' demo
  demos/Snapshot/main.blp
  demos/Snapshot/main.json
  demos/Snapshot/main.py
Owners: @sonnyp, @theCapypara

Use Adw.StatusPage and add links
  demos/Snapshot/main.blp
  demos/Snapshot/main.js
  demos/Snapshot/main.py
Owners: @sonnyp, @theCapypara

Javascript Port
  demos/Snapshot/main.js
Owners: @sonnyp

Fix format
  demos/Snapshot/main.js
Owners: @sonnyp

Only allow moving knight when touching hitbox
  demos/Snapshot/main.py
Owners: @theCapypara

Tweaks
  demos/Snapshot/main.blp
  demos/Snapshot/main.json
  src/Snapshot/main.blp
  src/Snapshot/main.js
  src/Snapshot/main.json
  src/Snapshot/main.py
Owners: @sonnyp, @theCapypara

Add 'Snapshot' demo (#103)
  src/Snapshot/main.blp
  src/Snapshot/main.js
  src/Snapshot/main.json
  src/Snapshot/main.py
Owners: @sonnyp, @theCapypara

Fix List View Widgets demo
  src/List View Widgets/main.blp
Owners: @sonnyp

Changes according to the requirements https://github.com/workbenchdev/demos/pull/120
  src/List View Widgets/main.blp
Owners: @sonnyp

Wrap ListView and GridView in ScrolledWindow (#120)
  src/List View Widgets/main.blp
Owners: @sonnyp

Simplify List View Widgets
  src/List View Widgets/main.blp
  src/Spell Checker/main.blp
  src/Text Fields/main.blp
Owners: @sonnyp

Simplify List View Widgets (#122)
  src/List View Widgets/main.blp
  src/Spell Checker/main.blp
  src/Text Fields/main.blp
Owners: @sonnyp

Various fixes and improvements ahead of 46
  src/Advanced Buttons/main.blp
  src/Editable Label/main.blp
  src/Event Controllers/main.blp
  src/Event Controllers/main.js
  src/Event Controllers/main.py
  src/Event Controllers/main.vala
  src/Frame/image.png
  src/Frame/main.blp
  src/Menu Button/main.json
  src/Message Dialogs/main.js
  src/Power Profile Monitor/main.blp
  src/Power Profile Monitor/main.js
  src/Separator/image.png
  src/Tooltip/main.blp
  src/View Switcher/main.blp
  src/Web View/main.blp
Owners: @sonnyp, @theCapypara, @lw64, @Diego-Ivan

f
  src/Frame/main.blp
  src/Power Profile Monitor/main.py
Owners: @sonnyp, @theCapypara

Various fixes and improvements ahead of 46 (#123)
  src/Advanced Buttons/main.blp
  src/Editable Label/main.blp
  src/Event Controllers/main.blp
  src/Event Controllers/main.js
  src/Event Controllers/main.py
  src/Event Controllers/main.vala
  src/Frame/image.png
  src/Frame/main.blp
  src/Menu Button/main.json
  src/Message Dialogs/main.js
  src/Power Profile Monitor/main.blp
  src/Power Profile Monitor/main.js
  src/Power Profile Monitor/main.py
  src/Separator/image.png
  src/Tooltip/main.blp
  src/View Switcher/main.blp
  src/Web View/main.blp
Owners: @sonnyp, @theCapypara, @lw64, @Diego-Ivan

[Vala] Port Radio buttons demo to Vala
  src/Radio Buttons/main.vala
Owners: @lw64, @Diego-Ivan

style-guide: Add Logging section for Vala
  STYLEGUIDE.md
Owners: @sonnyp

style-guide: Add Logging section for Vala (#126)
  STYLEGUIDE.md
Owners: @sonnyp

Updated formatting for Radio Button demo
  src/Radio Buttons/main.vala
Owners: @lw64, @Diego-Ivan

Workbench 46
  Makefile
  src/Wallpaper/main.blp
Owners: @sonnyp

Applied the changes
  src/Radio Buttons/main.vala
Owners: @lw64, @Diego-Ivan

f
  src/Radio Buttons/main.vala
Owners: @lw64, @Diego-Ivan

Radio Buttons: Port to Vala (#125)
  src/Radio Buttons/main.vala
Owners: @lw64, @Diego-Ivan

Workbench 46 (#127)
  Makefile
  src/Wallpaper/main.blp
Owners: @sonnyp

demos: Split List View and Grid View
  src/Column View/main.blp
  src/Grid View/main.blp
  src/Grid View/main.js
  src/Grid View/main.json
  src/Grid View/main.vala
  src/List View Widgets/main.json
  src/List View/main.blp
  src/List View/main.js
  src/List View/main.json
  src/List View/main.vala
Owners: @sonnyp, @lw64, @Diego-Ivan

Split List View Widgets into "List View" and "Grid View" (#124)
  src/Column View/main.blp
  src/Grid View/main.blp
  src/Grid View/main.js
  src/Grid View/main.json
  src/Grid View/main.vala
  src/List View Widgets/main.json
  src/List View/main.blp
  src/List View/main.js
  src/List View/main.json
  src/List View/main.vala
Owners: @sonnyp, @lw64, @Diego-Ivan

fix links
  src/Column View/main.blp
  src/Grid View/main.blp
  src/List View/main.blp
Owners: @sonnyp

[Vala] Port Switch demo to Vala
  src/Switch/main.vala
Owners: @lw64, @Diego-Ivan

Switch: Port to Vala (#130)
  src/Switch/main.vala
Owners: @lw64, @Diego-Ivan

Ported Link Button Demo to Vala
  src/Link Button/main.vala
Owners: @lw64, @Diego-Ivan

Update src/Link Button/main.vala
  src/Link Button/main.vala
Owners: @lw64, @Diego-Ivan

update demo description
  demos/Gamepads/main.json
Owners: @sonnyp

change autorun to true
  demos/Gamepads/main.json
Owners: @sonnyp

Fix merge mistake
  src/Gamepads/New File
  src/Gamepads/main.blp
  src/Gamepads/main.js
  src/Gamepads/main.json
Owners: @sonnyp

Delete src/Gamepads/New File
  src/Gamepads/New File
Owners: @sonnyp

don't update status page title and decript
  src/Gamepads/main.js
Owners: @sonnyp

Port Revealer to vala
  src/Revealer/main.vala
Owners: @lw64, @Diego-Ivan

Update src/Revealer/main.vala
  src/Revealer/main.vala
Owners: @lw64, @Diego-Ivan

Use c-style casting
  src/Revealer/main.vala
Owners: @lw64, @Diego-Ivan

Port Revealer demo to Vala (#132)
  src/Revealer/main.vala
Owners: @lw64, @Diego-Ivan
