Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara

port: Overlay Split View
  src/Overlay Split View/main.ts
Owners: @sonnyp

port: Save File
  src/Save File/main.ts
Owners: @sonnyp

port: Grid View
  src/Grid View/main.ts
Owners: @sonnyp

port: Grid
  src/Grid/main.ts
Owners: @sonnyp

port: SVG
  src/SVG/main.ts
Owners: @sonnyp

port: Revealer
  src/Revealer/main.ts
Owners: @sonnyp

port: Image
  src/Image/main.ts
Owners: @sonnyp

port: List Model
  src/List Model/main.ts
Owners: @sonnyp

port: Location
  src/Location/main.ts
Owners: @sonnyp

port: Scrolled Window
  src/Scrolled Window/main.ts
Owners: @sonnyp

port: Drag and Drop
  src/Drag and Drop/main.ts
Owners: @sonnyp

minor change: change description
  src/Gom/main.json
Owners: @sonnyp

Python: Update ColumnView to use Expressions (#191)
  CONTRIBUTING.md
  src/Column View/main.py
Owners: @sonnyp, @theCapypara

Workbench 47
  Makefile
  src/Button Row/main.json
  src/Column View/main.js
  src/Drop Down/main.js
  src/Wallpaper/main.js
Owners: @sonnyp

Fix JS Camera and Screencast demos
  src/Camera/main.js
  src/Screencast/main.js
Owners: @sonnyp

Change category of Welcome to tools
  src/Welcome/main.json
Owners: @sonnyp

Add permissions to metadata
  src/Audio/main.json
  src/HTTP Image/main.json
  src/HTTP Request/main.json
  src/HTTP Server/main.json
  src/Video/main.json
  src/WebSocket Client/main.json
Owners: @sonnyp

Add network permission to Web View
  src/Web View/main.json
Owners: @sonnyp

Update Spinner demo to AdwSpinner
  src/About Dialog/code.rs
  src/About Dialog/main.blp
  src/About Dialog/main.js
  src/About Dialog/main.py
  src/About Dialog/main.vala
  src/Advanced Buttons/main.blp
  src/Animation/main.blp
  src/Avatar/main.blp
  src/Banner/main.blp
  src/Boxed Lists/main.blp
  src/Breakpoints/main.blp
  src/Carousel/main.blp
  src/Clamp/main.blp
  src/Dialog/main.blp
  src/Header Bar/main.blp
  src/Message Dialogs/main.blp
  src/Navigation Split View/main.blp
  src/Navigation View/main.blp
  src/Overlay Split View/main.blp
  src/Preferences Dialog/main.blp
  src/Spinner/code.rs
  src/Spinner/main.blp
  src/Spinner/main.js
  src/Spinner/main.json
  src/Spinner/main.py
  src/Spinner/main.vala
  src/Status Page/main.blp
  src/Styling with CSS/main.blp
  src/Tab View/main.blp
  src/Toasts/main.blp
  src/Toolbar View/main.blp
  src/View Switcher/main.blp
  src/Window/main.blp
Owners: @Hofer-Julian, @sonnyp, @theCapypara, @lw64, @Diego-Ivan

Port 'CSS Gradients' demo to Vala (#155)
  src/CSS Gradients/main.vala
Owners: @lw64, @Diego-Ivan

Update Spinner demo to AdwSpinner (#205)
  src/About Dialog/code.rs
  src/About Dialog/main.blp
  src/About Dialog/main.js
  src/About Dialog/main.py
  src/About Dialog/main.vala
  src/Advanced Buttons/main.blp
  src/Animation/main.blp
  src/Avatar/main.blp
  src/Banner/main.blp
  src/Boxed Lists/main.blp
  src/Breakpoints/main.blp
  src/Carousel/main.blp
  src/Clamp/main.blp
  src/Dialog/main.blp
  src/Header Bar/main.blp
  src/Message Dialogs/main.blp
  src/Navigation Split View/main.blp
  src/Navigation View/main.blp
  src/Overlay Split View/main.blp
  src/Preferences Dialog/main.blp
  src/Spinner/code.rs
  src/Spinner/main.blp
  src/Spinner/main.js
  src/Spinner/main.json
  src/Spinner/main.py
  src/Spinner/main.vala
  src/Status Page/main.blp
  src/Styling with CSS/main.blp
  src/Tab View/main.blp
  src/Toasts/main.blp
  src/Toolbar View/main.blp
  src/View Switcher/main.blp
  src/Window/main.blp
Owners: @Hofer-Julian, @sonnyp, @theCapypara, @lw64, @Diego-Ivan

remove usage of this keyword
  src/Snapshot/main.vala
Owners: @lw64, @Diego-Ivan

Ignore rustc-ice files
  .gitignore
Owners: @sonnyp

added tree view demo
  src/List View with TreeListModel/main.blp
  src/List View with TreeListModel/main.json
  src/List View with TreeListModel/main.py
Owners: @sonnyp, @theCapypara

added list view section demo
  src/List View with Sections/main.blp
  src/List View with Sections/main.json
  src/List View with Sections/main.py
Owners: @sonnyp, @theCapypara

translated list view to python
  src/List View/main.py
Owners: @theCapypara

small adjustments and simplifications
  src/List View with Sections/main.blp
  src/List View with Sections/main.py
Owners: @sonnyp, @theCapypara

f
  src/List View/main.py
Owners: @theCapypara

List View: Port to python (#208)
  src/List View/main.py
Owners: @theCapypara

translated grid view demo to python
  src/Grid View/main.py
Owners: @theCapypara

Fixed Grid View python port CI
  src/Grid View/main.py
Owners: @theCapypara

Update src/Grid View/main.py
  src/Grid View/main.py
Owners: @theCapypara

f
  src/Grid View/main.py
Owners: @theCapypara

Added list view section demo (#206)
  src/List View with Sections/main.blp
  src/List View with Sections/main.json
  src/List View with Sections/main.py
Owners: @sonnyp, @theCapypara

Grid View: Port to Python (#209)
  src/Grid View/main.py
Owners: @theCapypara

simplified and renamed it Tree List Model
  src/Tree List Model/main.blp
  src/Tree List Model/main.json
  src/Tree List Model/main.py
Owners: @sonnyp, @theCapypara

formatting
  src/Tree List Model/main.py
Owners: @theCapypara

Added Bottom Sheet demo
  src/Bottom Sheet/main.blp
  src/Bottom Sheet/main.json
Owners: @sonnyp

fixed formatting
  src/Bottom Sheet/main.blp
Owners: @sonnyp

Port 'Snapshot' demo to Vala (#179)
  src/Snapshot/main.vala
Owners: @lw64, @Diego-Ivan
