Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara

Update
  src/Gamepad/icons/gamepad-symbolic.svg
  src/Gamepad/main.blp
  src/Gamepad/main.js
  src/Gamepad/main.json
  src/Gamepads/main.blp
  src/Gamepads/main.js
Owners: @sonnyp

f
  Makefile
Owners: @sonnyp

Add "Gamepad" demo (#88)
  Makefile
  src/Gamepad/icons/gamepad-symbolic.svg
  src/Gamepad/main.blp
  src/Gamepad/main.js
  src/Gamepad/main.json
Owners: @sonnyp

Renamed it 'List View with a Tree', moved link buttons, removed expanders for items without children
  src/List View with a Tree/main.blp
  src/List View with a Tree/main.json
  src/List View with a Tree/main.py
Owners: @sonnyp, @theCapypara

marked strings as translatable, reordered widgets and properties
  src/Bottom Sheet/main.blp
Owners: @sonnyp

Add Bottom Sheet demo (#210)
  src/Bottom Sheet/main.blp
  src/Bottom Sheet/main.json
Owners: @sonnyp

Add "Input Capture" demo
  src/Input Capture/main.blp
  src/Input Capture/main.js
  src/Input Capture/main.json
Owners: @sonnyp

Add "List View with a Tree" demo (#207)
  src/List View with a Tree/main.blp
  src/List View with a Tree/main.json
  src/List View with a Tree/main.py
Owners: @sonnyp, @theCapypara

Remove unused JavaScript imports
  src/Camera/main.js
  src/Screencast/main.js
Owners: @sonnyp

minor changes: Workaround as suggested by @Diego-Ivan Demo functions as expected
  src/Screencast/main.vala
Owners: @lw64, @Diego-Ivan

changes and improvements: rename folder to Database change description, title replace var with let add newline
  src/Database/main.blp
  src/Database/main.js
  src/Database/main.json
Owners: @sonnyp

Gamepad: Port to python
  src/Gamepad/main.py
Owners: @theCapypara

fixed Gamepad Python bug
  src/Gamepad/main.py
Owners: @theCapypara

minor fixes remove Toasts and subsequent use temporarily disable closeDatabase function for checker use sqlite databse
  src/Database/main.blp
  src/Database/main.js
Owners: @sonnyp

small fix: can't leave the adapter open
  src/Database/main.js
Owners: @sonnyp

cleanup: remove Gom folder
  src/Gom/main.blp
  src/Gom/main.js
  src/Gom/main.json
Owners: @sonnyp

Port "Gamepad" to python (#211)
  src/Gamepad/main.py
Owners: @theCapypara

Port "List View with Sections" to JavaScript
  src/List View with Sections/main.blp
  src/List View with Sections/main.js
  src/List View with Sections/main.py
Owners: @sonnyp, @theCapypara

Port "List View with a Tree" to JavaScript
  src/List View with a Tree/main.js
  src/List View with a Tree/main.py
Owners: @sonnyp, @theCapypara

Port missing List View demos to JavaScript (#212)
  src/List View with Sections/main.blp
  src/List View with Sections/main.js
  src/List View with Sections/main.py
  src/List View with a Tree/main.js
  src/List View with a Tree/main.py
Owners: @sonnyp, @theCapypara

tweaks
  .gitignore
  src/Database/main.blp
  src/Database/main.js
Owners: @sonnyp

further simplifications
  src/Database/main.blp
  src/Database/main.js
  src/Database/main.json
Owners: @sonnyp

f
  Makefile
Owners: @sonnyp

Add GOM demo (#200)
  .gitignore
  Makefile
  src/Database/main.blp
  src/Database/main.js
  src/Database/main.json
Owners: @sonnyp

Use 'my_custom_class" for the programmaticaly set style
  src/Styling with CSS/code.rs
Owners: @Hofer-Julian

Use 'my_custom_class" for the programmaticaly set style
  src/Styling with CSS/main.py
Owners: @theCapypara

Use 'my_custom_class" for the programmaticaly set style
  src/Styling with CSS/main.js
Owners: @sonnyp

Use 'my_custom_class" for the programmaticaly set style
  src/Styling with CSS/main.vala
Owners: @lw64, @Diego-Ivan

Use 'my_custom_class" for the programmaticaly set style (#214)
  src/Styling with CSS/code.rs
Owners: @Hofer-Julian

feat: add tsconfig
  .gitignore
  ambient/workbench.d.ts
  tsconfig.json
Owners: @sonnyp

chore: add README.typescript.md
  README.typescript.md
Owners: @sonnyp

port: Toggle Button
  src/Toggle Button/main.ts
Owners: @sonnyp

port: Carousel
  src/Carousel/main.ts
Owners: @sonnyp

port: Animation
  src/Animation/main.ts
Owners: @sonnyp

port: Drop Zone
  src/Drop Zone/main.ts
Owners: @sonnyp

port: Camera
  src/Camera/main.ts
Owners: @sonnyp

port: Account
  src/Account/main.ts
Owners: @sonnyp

port: Clamp
  src/Clamp/main.ts
Owners: @sonnyp

port: Column View
  src/Column View/main.ts
Owners: @sonnyp

port: Avatar
  src/Avatar/main.ts
Owners: @sonnyp
