Repository workbenchdev/demos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sonnyp, @lw64, @Diego-Ivan, @Hofer-Julian, @theCapypara

.github/CODEOWNERS:

* @sonnyp
*.vala @lw64 @Diego-Ivan
*.rs @Hofer-Julian
Cargo.toml @Hofer-Julian
Cargo.lock @Hofer-Julian
*.py @theCapypara

Separator demo Port to Vala
  src/Separator/Separator.vala
Owners: @lw64, @Diego-Ivan

Rust: Update Map demo
  src/Map/code.rs
Owners: @Hofer-Julian

Rust: Update Map demo (#135)
  src/Map/code.rs
Owners: @Hofer-Julian

Port demo
  src/Styling with CSS/main.vala
Owners: @lw64, @Diego-Ivan

This commit is to add the Vala Port for the Level Bars Demo
  src/Level Bars/main.vala
Owners: @lw64, @Diego-Ivan

Fix Rust implementation of LinkButton demo
  src/Link Button/code.rs
Owners: @Hofer-Julian

Applied changes as requested to Separator.vala
  src/Separator/Separator.vala
Owners: @lw64, @Diego-Ivan

Port demo (#136)
  src/Styling with CSS/main.vala
Owners: @lw64, @Diego-Ivan

Rust: Use type `Propagation` instead of converting boolean
  src/Link Button/code.rs
Owners: @Hofer-Julian

Added Requested Changes
  src/Level Bars/main.vala
Owners: @lw64, @Diego-Ivan

Added fix and Demo now works
  src/Level Bars/main.vala
Owners: @lw64, @Diego-Ivan

additional fixes and changes to work with style guide
  src/Level Bars/main.vala
Owners: @lw64, @Diego-Ivan

Separator demo Port to Vala (#134)
  src/Separator/Separator.vala
Owners: @lw64, @Diego-Ivan

Add SVG demo
  src/SVG/image.svg
  src/SVG/main.blp
  src/SVG/main.js
  src/SVG/main.json
Owners: @sonnyp

fixes
  src/SVG/main.js
Owners: @sonnyp

remove redundant code
  src/SVG/main.js
Owners: @sonnyp

Add SVG demo (#140)
  src/SVG/image.svg
  src/SVG/main.blp
  src/SVG/main.js
  src/SVG/main.json
Owners: @sonnyp

Only run workbench-cli ci on changed demos
  .github/workflows/CI.yaml
  Makefile
  README.md
  src/Separator/Separator.vala
  src/Styling with CSS/main.vala
Owners: @sonnyp, @lw64, @Diego-Ivan

Only run workbench-cli ci on changed demos (#142)
  .github/workflows/CI.yaml
  Makefile
  README.md
  src/Separator/Separator.vala
  src/Styling with CSS/main.vala
Owners: @sonnyp, @lw64, @Diego-Ivan

f
  src/Level Bars/main.vala
Owners: @lw64, @Diego-Ivan

Porting Level Bars Demo to Vala (#137)
  src/Level Bars/main.vala
Owners: @lw64, @Diego-Ivan

f
  src/Boxed Lists/main.blp
  src/Boxed Lists/main.js
Owners: @sonnyp

f
  src/Boxed Lists/main.blp
Owners: @sonnyp

f
  src/Boxed Lists/main.blp
Owners: @sonnyp

Added search to the ComboRow in BoxedLists (#96)
  src/Boxed Lists/main.blp
  src/Boxed Lists/main.js
Owners: @sonnyp

Implemented notify::visited in Vala demo for LinkedButton
  src/Link Button/main.vala
Owners: @lw64, @Diego-Ivan

Port 'Animation' to Python
  src/Animation/main.py
Owners: @theCapypara

Initialize objects with properties where possible
  src/Animation/main.js
  src/Animation/main.py
Owners: @sonnyp, @theCapypara

Fixups to 'Animation' Python port
  src/Animation/main.py
Owners: @theCapypara

Ported Link Button Demo to Vala (#131)
  src/Link Button/code.rs
  src/Link Button/main.vala
Owners: @Hofer-Julian, @lw64, @Diego-Ivan

f
  src/Animation/main.py
Owners: @theCapypara

Support files for Python typing
  .gitignore
  python-aux/README.md
  python-aux/mypy.ini
  python-aux/requirements.txt
  python-aux/workbench-typestubs/MANIFEST.in
  python-aux/workbench-typestubs/pyproject.toml
  python-aux/workbench-typestubs/workbench/__init__.pyi
  python-aux/workbench-typestubs/workbench/py.typed
Owners: @sonnyp

Typing for Welcome demo
  python-aux/workbench-typestubs/MANIFEST.in
  python-aux/workbench-typestubs/pyproject.toml
  src/Welcome/main.py
Owners: @sonnyp, @theCapypara

fix wrong parameter in workbench typestub
  python-aux/workbench-typestubs/workbench/__init__.pyi
Owners: @sonnyp

Port 'Animation' to Python (#29)
  src/Animation/main.js
  src/Animation/main.py
Owners: @sonnyp, @theCapypara

Add Button Rows demo
  src/Button Row/main.blp
  src/Button Row/main.json
  src/Button Row/main.py
Owners: @sonnyp, @theCapypara

add js
  src/Button Row/main.blp
  src/Button Row/main.js
  src/Button Row/main.py
Owners: @sonnyp, @theCapypara

add runtime-version
  src/Button Row/main.json
Owners: @sonnyp

Add Button Rows demo (#147)
  src/Button Row/main.blp
  src/Button Row/main.js
  src/Button Row/main.json
  src/Button Row/main.py
Owners: @sonnyp, @theCapypara

Button Row: Use sensitive instead of activatable
  src/Button Row/main.blp
Owners: @sonnyp
